<h1 style="text-align: center ;
           font-family: Arial, Helvetica, sans-serif;">Confirmar tu Cuenta</h1>
<p style="font-family: Arial, Helvetica ;">Hola, estas a paso de comenzar una comunidad en Meeti, solo debes confirmar tu cuenta en el siguiente enlace:</p>

<a style="
    display:block ;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #00C897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
" href=" <%= url %>">Confirmar Cuenta</a>

<p style="font-family: Arial, Helvetica;" >Si no puedes acceder a este enlace, visita: <%= url %></p>
<p style="font-family: Arial, Helvetica;" >Si no solicitaste este email puedes ignorarlo</p>